@import-normalize;

@font-face {
  font-family: touch;
  src: url(../../../static/fonts/hotel_touch_common.ttf), url(../../../static/fonts/hotel_touch_common.woff);
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

.page {
  margin-top: 60px;
}
